# PocketBase binary
pocketbase
CHANGELOG.md
LICENSE.md

# PocketBase data
pb_data/

# Node
node_modules/
dist/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Reference
Wallos-main/

#Docker
DOCKER.md

# Frontend build artifacts
apps/backend/pb_public/assets/*.js
apps/backend/pb_public/assets/*.css
apps/backend/pb_public/index.html